.card {
    height: 20vh !important;
    width: 30vw !important;
}

.card-body {
    height: 20vh !important;
    width: 15vw !important;
}
.container {
    width: 70vw;
}

img.player {
    height: 450px !important;
    transform: scaleX(-1);
}

div.col-md-4 img {
    /* image fill */
   height: 20vh;

}

img.monster {
    height: 400px !important;
}